@charset "UTF-8";


* {
	  box-sizing: border-box;
	  font-family: "맑은 고딕";
	  color: #5D5D5D;
	}
	
	.mypage_menu{
		margin :0px;
		padding :0px;
		width: 819px;
		height: 800px;
		border: 1px solid #EAEAEA;
		z-index: 5px;
		margin-top: 200px;
	
	}
	

	
	#mypage_title{
		text-align: center;
		height: 80px;
		padding-top: 20px;
		
			
	}

		
	.mypage_detail_under{
		width: 817px;
		margin-left: 26px;
		margin-top: 1px;
		
	}
	
	
	#mypage_title_sub{
		width: 760px;
		height: 350px;
		border: 1px solid #EAEAEA;
		border-top: 3px solid #94CCC4;
		border-bottom: 3px solid #94CCC4;
		padding-left: 5%;
		padding-right: 5%;
		display: table;
	}
	
	.mypage_detail_under h3{
		text-align: center;
		color: #5D5D5D;
		font-weight: bold;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 50px;
	
	}
	
	
	.pw_input{
		width: 200px;
		height: 40px;
		border: 1px solid #EAEAEA;
	}
	.tel_input{
		width: 100px;
		height: 40px;
		border: 1px solid #EAEAEA;
	}
	
	#mypage_title_btn{
		text-align: center;
		width: 760px;
		height: 150px;
	}
	
	.mypage_title_btn1{
		border-radius: 10px;
		width: 150px;
		height: 35px;
		border: 1px solid #94CCC4;
		background-color: #94CCC4;
		color: #ffffff;
		font-weight: bold;
		margin-top: 55px;
	}
	
	.mypage_title_btn3{
		border-radius: 10px;
		width: 120px;
		height: 35px;
		border: 1px solid #94CCC4;
		background-color: #94CCC4;
		color: #ffffff;
		font-weight: bold;
		margin-left: 30px;
	}
	
	.mypage_title_btn2{
		border-radius: 10px;
		width: 150px;
		height: 35px;
		border: 1px solid #94CCC4;
		background-color: #ffffff;
		color: #94CCC4;
		font-weight: bold;
		margin-top: 55px;
	}
	
	
	#container .column-side-left .column-side-right .column-middle{
		width: 1200px;
		margin: 0px auto;
		padding: 20px;
		justify-content: center;
		display: flex;
		/*border: 1px solid #bcbcbc;*/
	}
	

	
	/* Create three unequal columns that floats next to each other */
	.column {
	  float: left;
	  padding: 10px;
	  height: 300px; /* Should be removed. Only for demonstration */
	}
	
	/* Left and right column */
	#column-side-left {
	width: 160px;
	padding: 20px;
	margin-right: 20px;	
	float: left;
	/*border: 1px solid #bcbcbc;*/
	}
	
	#column-side-right {
	width: 160px;
	padding: 20px;
	margin-bottom: 20px;	 
	position: relative;
	float: left;
	/*border: 1px solid #bcbcbc;*/
	}
	
	/* Middle column */
	.column-middle {
	width: 880px;
	margin: 20px auto;
	 
	position: relative;
	

	}	


	
	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	/* Style the footer */
	.footer {
	  background-color: #f1f1f1;
	  padding: 10px;
	  text-align: center;
	}
	
	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
	@media (max-width: 600px) {
	  .column.side, .column.middle {
	    width: 100%;
	  }  
	  
	}
	
	.tr{
		display: table-row;
	}
	
	#mypage_title_sub span{
		display: table-cell;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#mypage_title_sub strong{
		display: table-cell;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	kkk{
		font-size: 13px;
		color: #94CCC4;
	}