<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

  <select id="selectMember" resultType="memberVo">
  	select * from member where id=#{username}
  </select>
  
    <!-- 아이디 찾기 -->
  <select id="findId" resultType="memberVo">
  	select id from member where rr_no=#{rr_no} 
  </select>
  
  <!-- 비밀번호 찾기 -->
  <select id="findPwd" resultType="memberVo">
  	select id from member where rr_no=#{rr_no} 
  </select>	

  <select id="selectByRR" resultType="memberVo">
  	select * from member where rr_no=#{rr_no}
  </select>
  
  <select id="checkId" resultType="java.lang.Integer">
  	select count(*) from member where id=#{id}
  </select>
  
  <select id="checkRR" resultType="java.lang.Integer">
  	select count(*) from member where rr_no=#{rr_no} and roles=#{roles}
  </select>
  
  <insert id="insert">
  	insert into member values(seq_mem.nextval,#{id},#{pwd},#{name},#{rr_no},#{tel},#{email},#{addr},#{roles},#{emailReceive},#{smsReceive})
  </insert>
  
  <insert id="insertGuest">  
  	insert into member values(seq_mem.nextval,null,null,#{name},#{rr_no},#{tel},null,null,#{roles},null,null)
  </insert>
  
  <!-- 회원번호로 받아온 아이디 -->
 <select id="findById">
  select id from member where member_no = #{member_no}
 </select>
 
<!-- 회원 비밀번호 확인 -->
 <select id="checkPwd" resultType="java.lang.Integer">
  	select count(*) from member where id = #{id} and pwd = #{pwd}
 </select>
 
<!-- 회원번호로 회원찾아오기 -->
<select id="getMember" resultType="memberVo">
	select * from member where member_no = #{member_no}
</select>

<!-- 비밀번호 변경 -->
<update id="updatePwd">
	update member set pwd = #{pwd} where member_no = #{member_no}
</update>
<!-- 회원 수정 -->
<update id="updateMember">
     update member set tel=#{tel}, email=#{email}, addr=#{addr} where member_no=#{member_no}
</update>


<!-- 나의 상담내역 확인 -->
<select id="getAdvice" resultType="adviceVo">
	select * from Advice_board where member_no=#{member_no} order by no desc
</select>

<!--나의 상담내역중 답변 select count(*) from Advice_Board where b_step=1; -->
</mapper>