<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu">
  <select id="selectAll" resultType="eduVo">
    select * from doc_Education where doc_no=#{doc_no} order by edu_sdate desc
  </select>
  <insert id="insert">
  	insert into doc_education values(#{edu_no},#{edu_sdate},#{edu_edate},#{edu_content},#{doc_no})
  </insert>
</mapper>