<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car">
  <select id="selectAll" resultType="carVo">
    select * from doc_career where doc_no=#{doc_no} order by car_sdate desc
  </select>
  <insert id="insert">
  	insert into doc_career values(#{car_no},#{car_sdate},#{car_edate},#{car_content},#{doc_no})
  </insert>
</mapper>