<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
<!-- kkk -->
  <select id="selectAllDept" resultType="deptVo">
  	select * from department
  </select>
  
  <select id="selectByNoDoc" resultType="doctorVo">
  	select * from doctor where dept_no=#{dept_no}
  </select>
  
  <select id="selectByNoSche" resultType="scheVo">
  	select * from doc_schedule where doc_no=#{doc_no}
  </select>
  
  <insert id="insertRes">
  	insert into reservation values(seq_res.nextval, #{reser_date}, #{reser_time}, #{member_no}, #{doc_no}, #{dept_no})
  </insert>
  
  <select id="cntRes" resultType="java.lang.Integer">
  	select count(*) from reservation where reser_date=#{reser_date} and reser_time=#{reser_time} and doc_no=#{doc_no}
  </select>
  
  <select id="findRes" resultType="reservationVo">
  	select * from reservation where member_no=#{member_no} order by reser_date desc, reser_time 
  </select>
  
<!--   kkk end -->
  
  <!-- 회원번호로 예약 현황 횟수 조회 -->
 <select id="cntByNo" resultType="java.lang.Integer">
  select count(*) from reservation where member_no = #{member_no}
 </select>
 
<!-- 이름과 예약 번호 일치하는 지 확인 -->
 <select id="checkReser_no" resultType="java.lang.Integer">
  	select count(*) from reservation where member_no in (select member_no from member where name = #{name}) and reser_no = #{reser_no}
 </select>

<!-- 예약번호로 예약번호, 예약날짜, 예약시간 불러오기 -->
<select id="getReservation_1" resultType="reservationVo">
	select reser_no, reser_date, reser_time from reservation where reser_no = #{reser_no}
</select>

<!-- 예약번호로 의사이름 불러오기 -->
<select id="getReservation_2" resultType="String">
	select doc_name from doctor where doc_no in(select doc_no from reservation where reser_no = #{reser_no})
</select>

<!-- 예약번호로 진료과이름 불러오기-->
<select id="getReservation_3" resultType="String">
	select dept_name from Department where dept_no in(select dept_no from reservation where reser_no = #{reser_no})
</select>
</mapper>